.About_me {
  overflow: hidden;
  height: 49vh;
  background-color: var(--color-light-dark);
  color: var(--color-white);
  display: flex;
  justify-content:space-around;
}

.my_info{
  flex: 1;
  padding: 3.2rem;
}
.my_info h1{
  margin-bottom: 0.5rem;
}
.my_info p {
  width: 70%;
}
.Contact_info {
   padding: 3.2rem;
  flex: 1;
}
.Contact_info .email {
    display: flex;
}

.Contact_info .Phone_number {
    display: flex;
}

@media (max-width: 767px) {
    .About_me {
      height: 100vh;
       flex-direction:column;
       justify-content: start;
    }
    .my_info{
      flex: 0;
    }
    .Contact_info {
      flex: 0;
    }
}